{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear receta{% endblock %}
{% block content %}
{% include 'recipe/includes/menu_recipe.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto text-light">
        <div>
          <form method="post">{% csrf_token %}
            <p>¿Desea eliminar"{{ object }}"?</p>
            <input type="submit" value="Confirmar">
        </form>
        </div>
      </div>
    </div>
  </div>
</main>, 
{% endblock %}